.page {
  min-height: 100svh;
}

.main {
  font-size: 18px;

}

.main>.strip:nth-child(odd) {
  background-color: #2d2d2d;
  color: white;
}

.main>.strip:nth-child(even) {
  background-color: inherit;
  color: black;
}

.strip {
  width: 100%;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;

}

.image {
  flex: 1;
  padding: 2rem;
}

.description {
  flex: 1;
  padding: 2rem;
}

.highlight {
  width: fit-content;
  padding: 2rem;
  color: black;
  padding: 1rem;
  opacity: 0.8;
  border-radius: 25px;
}

.strip:nth-child(even) .highlight {
  background-color: rgba(51, 51, 51, 0.39);
}

.strip:nth-child(odd) .highlight {
  background-color: rgba(255, 255, 255, 0.856);
}

.imageList {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  .strip {
    flex-direction: column;
  }

}