.cardContainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
}

@media (min-width: 640px) {
    .cardContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .cardContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/*  Cards */
.card {
    display: block;
    overflow: hidden;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 10px;
    background-color: #bde4f3;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-duration: 300ms;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.img {
    object-fit: cover;
    width: 100%;
    height: 14rem;

}

.card:hover {
    transform: scale(1.05);
}

.title {
    padding: 1rem;

}

.title>h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #1F2937;

}

.description {
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

}

.description>p {
    color: #4B5563;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    line-clamp: 3;
    /* Set the number of lines */
    -webkit-box-orient: vertical;
}

@media (min-width: 640px) {
    .card {
        margin-left: 0;
        margin-right: 0;
    }
}