.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    width: 90%;
}


.logo {
    -webkit-user-drag: none;
    filter: invert(62%) sepia(42%) saturate(5570%) hue-rotate(204deg) brightness(107%) contrast(85%);
}


@media screen and (max-width:350px) {
    .gridWrapper {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}