.date {
  font-size: 17px;
  color: rgb(136, 136, 136);
  margin-bottom: 25px;
}

/* styles/mdx.css */
.mdxContent h1 {
  color: #1e40af;
  font-size: 3rem;
  margin-top: 2rem;
}

.mdxContent p {
  line-height: 1.7;
  color: #374151;
  margin: 1rem 0;
  font-size: 18px;

}

.mdxContent pre {
  background-color: #0f172a;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.mdxContent code {
  font-family: monospace;
  color: #facc15;
}

.mdxContent h1[id] {
  position: relative;
}

.mdxContent h1[id]::before {
  content: "#";
  color: transparent;
  position: absolute;
  left: -2.5rem;
}

.mdxContent h1[id]:hover::before {
  color: #3d3d3d;
}