.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #111827;
}

.figure {
    width: 60vw;
}
.figure svg{
    max-height: 60vw;
}
.figure image:hover{
    opacity: 0.7;
    scale: 1.6;
}