.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #111827;
}

.figure {
    width: 80%;
}