.contactContent {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.contactContent::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.contactHeader h1 {
  font-size: 3rem;
  text-align: center;
  color: #111827;
}
.contactHeader h3 {
 font-size: 1.2rem;
  text-align: center;
  color: #4d515a;
}
.contactBody {
  display: flex;
  flex-wrap: wrap;
}

.contactPrimary,
.contactSecondary {
  flex: 1;
  padding: 50px;
}

.contactPrimary {
  display: flex;
  flex-direction: column;

}

.cstitle {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #39b54a;
  font-size: 26px;
}

.cstitle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #39b54a;
}

.csinfo {
  margin-top: auto;
  font-size: 12px;
  color: #888;
}

.formField {
  margin-bottom: 15px;
}

.formField:has(#contactMessage) {
  margin-top: 40px;
}

.formField:has(.submitButton) {
  margin-top: 2rem;
  text-align: right;
}

.submitButton {
  margin-bottom: 0;
  background: none;
  border: none;
  color: #39b54a;
  font-size: 25px;
  cursor: pointer;
  outline: none;
}


.formField>input,
.formField>textarea {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
  resize: vertical;
}

.formField>input::placeholder,
.formField>textarea::placeholder {
  color: #666;
}

.formField>input:focus,
.formField>textarea:focus {
  border-bottom-color: #ddd;
}


@media screen and (max-width: 520px) {
  .contactBody {
    flex-direction: column;
  }

  .contactPrimary {
    margin-bottom: 30px;
  }

  .cstitle {
    flex-direction: row;
  }

  .cstitle span {
    margin-right: 12px;
  }

  .cstitle::after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .contactBody {
    padding: 40px;
  }

  .contactPrimary,
  .contactSecondary {
    padding: 0;
  }
}