.h1Title {
    position: relative;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 60px;
    margin-top: 60px;
    user-select: none;
}

.h1Title>span {
    color: var(--span-color, inherit);
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    z-index: -1;
}

.header {
    width: 100%;
    text-align: center;
}

.titleBand {
    background-color: #dfeaf8;
    border-top: 15px double var(--background);
    border-bottom: 15px double var(--background);
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 5rem;
}