.h1Title {
    position: relative;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 60px;
    margin-top: 60px;
    user-select: none;
}

.h1Title>span {
    /* color: #baacf9; */
    color: #8169eb;
}