.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #9CA3AF;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 1rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .footer a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}

@media (max-width: 600px) {

    .footer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}